/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
}

/* Banner styles */
.banner {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.banner h1 {
    font-size: 24px;
}

/* Class Display styles */
#classDisplay {
    font-weight: bold;
    margin-bottom: 10px;
}

/* Top Sheet styles */
.topSheet {
    margin-bottom: 20px;
}
.moveContainer{
    white-space: nowrap;
}
.charsheet {
    display: inline-block;
    width: auto;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    margin-right: 10px;
}

/* Regiment Stats styles */
.container{
    display:flex;
    justify-content:space-evenly;
}
.choices{
    float:left;
}
.btnsDisp{
    float:right;
    max-width:250px;
}
.choices, .btnsDisp{
    height:17em;
    text-align:center;
    background-color:lightgray;
}
.btnDispItem{
    margin:4px;
}
#pointsDisp{
    width: 30px;
    background-color: #f2f2f2;
    height:30px;
    margin-left:auto;
    margin-right:auto;
}
select{
    width:14em;
    text-align:center;
}
.regChoices, .regimentBox{
    margin:15px;
}
.regimentStats{
    background-color:lightgray;
    overflow-y:auto;
    max-height:17em;
}
.regChoices, .regimentStats{
    width:500px;
}
.regimentBox{
    margin:15px;
}
#characterSheet {
    margin: 20px auto;
    max-width: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.dispWrapper{
    display:flex;
    justify-content:space-evenly;
}

/* Movement area styles */
.moveDisp {
    display: inline-block;
    width: 120px;
    margin-right: 10px;
}

/* Skills styles */

.skillsheet {
    display: inline-block;
    width: 30px;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    margin-right: 10px;
    height:30px;
}
.regAddition {
    color: red;
    width: 30px;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    margin-right: 10px;
    height:30px;
}
.red{
    color:red;
}
.skillItem{
    margin-bottom:6em;
    display:flex;
}

/*content box area*/
.contentBox{
    background-color:#f9f9f9;
    border-radius: 5px;
    padding:20px;
    margin-bottom:20px;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.1);
    display:flex;
    justify-content: space-between;
}
.skillBox, .traitsBox, .equiptmentBox{
    min-height:200px;
    margin:auto;
    width:auto;
    max-width:400px;
    height:400px;
    padding:30px;
    overflow-y: auto;
    background-color:lightgrey;
}
.skillBox{
    margin-bottom: 20px;
    display:flex;
    margin:0 auto;
    width:fit-content;
}
.skill{
    margin:10px;
}

/* Starting Traits styles */
.characterSheet{
    text-align:center;
}
#regimentStandardEquiptment{
    list-style-type: none;
}

/* Button styles */
button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    max-height:40px;
}
button:hover {
    background-color: #555;
}
a{
    cursor:pointer;
}
a:hover ul{
    display:block;
}
ul{
    list-style-type:none;
}
li{
    margin:10px;
}

/* Select Regiment styles */
.selectReg {
    margin-bottom: 20px;
}

/* Random Regiment Generator styles */
.randomRegGen {
    margin-bottom: 20px;
}
.genBtns {
    text-align:center;
}

/*smaller screens*/
@media screen and (max-width:1100px){
    .container{
        flex-direction: column;
        align-items:center;
    }   
    .contentBox{
        flex-direction:column;
        align-items:center;
        max-width:90%;
        margin:0 auto;
    }       
    .moveDisp {
        display: inline-block;
        width: 100px;
        margin-right: 10px;
    }
}

@media screen and (max-width: 720px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .contentBox {
        flex-direction: column;
        align-items: center;
        max-width: 90%;
        margin: 0 auto;
    }
    .moveDisp {
        display: inline-block;
        width: 50px;
        margin-right: 10px;
    }
}
