/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
}

/* Banner styles */
.banner {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.banner h1 {
    font-size: 24px;
}

/* Container styles */
#characterSheet {
    margin: 20px auto;
    max-width: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Class Display styles */
#classDisplay {
    font-weight: bold;
    margin-bottom: 10px;
}

/* Top Sheet styles */
.topSheet {
    margin-bottom: 20px;
}
.moveContainer{
    white-space: nowrap;
}

.charsheet {
    display: inline-block;
    width: auto;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    margin-right: 10px;
}

.regAddition {
    font-size: 12px;
    color: red;
}

/* Regiment Stats styles */
.regimentStats {
    margin-bottom: 20px;
    display:flex;
    justify-content: space-around;
}

.regimentBox {
    margin-bottom: 10px;
}

/* Movement area styles */
.moveDisp {
    display: inline-block;
    width: 120px;
    margin-right: 10px;
}

/* Skills styles */
.skills {
    margin-bottom: 20px;
    display:flex;
    margin:0 auto;
    width:fit-content;
}

.skill {
    margin-bottom: 10px;
}

.skillsheet {
    display: inline-block;
    width: 100px;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    margin-right: 10px;
}

/* Starting Traits styles */
.characterSheet{
    text-align:center;
}

.startingStuffs {
    margin-bottom: 10px;
}

#regimentStandardEquiptment{
    list-style-type: none;
}

/* Button styles */
button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    max-height:40px;
}

button:hover {
    background-color: #555;
}
a{
    cursor:pointer;
}
a:hover ul{
    display:block;
}

/* Select Regiment styles */
.selectReg {
    margin-bottom: 20px;
}

/* Random Regiment Generator styles */
.randomRegGen {
    margin-bottom: 20px;
}
.genBtns {
    text-align:center;
}
